//Responsive Sizing
$pianoWidth: 100vw;
$keysHeight: 30vh;
$keysCount: 11;
$keyWhiteWidth: calc($pianoWidth / $keysCount);
$keyBlackWidth: calc($keyWhiteWidth / 2);

.piano {
  height: $keysHeight;
  display: flex;
  flex-direction: row;
  margin-right: calc($keyWhiteWidth / 5);
}

.key {
  //Custom key height for mobile rotated	
  @media (max-height: 576px) {
    height: calc($keysHeight * 1.5);
  }
  @media (max-width: 576px) {
    height: calc($keysHeight / 2.5);
  }

  box-sizing: border-box;
  border: 0.5px solid rgb(203, 203, 203);
  height: $keysHeight;
  position: relative;

  &.black {
    background-color:#373737; 

    height: calc($keysHeight - 10vh);
	
    //Custom key height for mobile rotated	
    @media (max-height: 576px) {
      height: calc(($keysHeight - 10vh) * 1.5);
    }
    @media (max-width: 576px) {
      height: calc(($keysHeight - 10vh) / 2.5);
    }

    width: $keyBlackWidth;
    position: relative;
    left: calc($keyBlackWidth / 2);
    z-index: 2;
    &.active {
      background-color: hwb(154 15% 7%);
    }
  }

  &.white {
    background-color: white;
    width: $keyWhiteWidth;

    &.active {
      background-color: hwb(154 15% 7%);
    }
  }

  //.black class element that directly follows
  &.c + .black,
  &.d + .black,
  &.e + .black,
  &.f + .black,
  &.g + .black,
  &.a + .black,
  &.b + .black {
    margin-left: - calc($keyWhiteWidth / 2);
  }
  //This is wierd

  &.e,
  &.b {
    margin-right: - calc($keyWhiteWidth / 5);
  }
}
