/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
/* Add the following link tag to import normalize */

* {
  box-sizing: border-box;
}

html {
  color: rgb(244, 255, 255);
}

body {
  margin: 0;
  font-weight: 300 !important;
  /* color: #333 !important; */
  color: #514f4f !important; 
  font-size: 0.5em;
}

h5,h1, a:link{
  font-family: 'Titillium Web', sans-serif !important;
  font-weight: 600 !important;
  /* color: #333 !important; */
  color: #514f4f !important; 
  font-size: 0.8em;
}

h1{
  font-weight: 400 !important;
  font-size: 1.2em !important;
}